@font-face {
  font-family: 'PTsans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'PTsans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
  font-weight: 500;
}