.one-time
  height: 325px
  @include laptop
    height: 166px
  @include tablet
    height: 125px
    margin-top: 25px
.slick-list
  height: 100% !important
.slick-track
  height: 100%
.slider__main-page
  margin-top: 32px
  display: block
  @include laptop
    margin-top: 0
  .container
    height: 100%
  .one-time--container
    position: relative
    width: 100%
    .one-time--text
      position: absolute
      color: #fff
      top: 0
      bottom: 0
      left: 70px
      margin: auto
      height: rem(130px)
      padding: 14px 50px 14px 34px
      font-size: rem(42px)
      background: rgba($c-orange, .5)
      @include desktop
        font-size: 38px
      @include laptop
        font-size: 24px
      @include phone
        font-size: 15px
        padding: 0px 15px
        height: 40px
        left: 20px
    .one-time--img
      object-fit: cover
 
  .slick-dots
    bottom: -65px
    li
      border-radius: 20px
      background: rgba($c-orange, .5)
    .slick-active
      background: $c-orange
  .slick-arrow
    display: block
    height: 130px
    width: 35px
    background: $c-orange
    z-index: 66
    @include laptop
      height: 70px
      width: 15px
    @include tablet
      height: 40px
  .slick-next
    right: 0
    &:before
      content: '>'
      font-weight: bold
  .slick-prev
    left: 0
    &:before
      font-weight: bold
      content: '<'